@import url(https://fonts.googleapis.com/css?family=Merriweather:300);
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  text-rendering: optimizeLegibility;
  background: #E9E9E9;
  margin: 0;
}

p {
  font-size: 18px;
}

.header {
  background-color: #4A90E2;
  color: white;
  padding: 35px;
  margin-bottom: 15px;
  text-align: center;
}

.header h1 {
  font-family: 'Merriweather', 'Roboto', sans-serif;
  opacity: 0.9;
  font-weight: lighter;
  font-size: 30px;
}

.header p {
  line-height: 30px;
  opacity: 0.95;
}

.avatar {
  height: 110px;
  width: 110px;
  display: block;
  margin: auto;
}

.summary {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.socialItem {
  margin: 7px;
  opacity: 0.85;
}

.socialItem:hover {
  opacity: 1;
}

.socialBarContainer {
  margin-top: 30px;
}

.card {
  width: 280px;
  height: 200px;
  position: relative;
  box-shadow: 0px 1px 3px #888888;
  background: white;
}

.card:hover {
  box-shadow: 0px 3px 15px #888888;
}

.cardContainer {
  display: inline-block;
  margin: 10px;
  float: none;
}

.card a:link {
  text-decoration: none;
}

.cardImage {
  max-width: 100%;
  max-height: 100%;
}

.cardFooter {
  background: gray;
  color: white;
  padding: 12px;
  position: absolute;
  min-height: 50px;
  bottom: 0;
  left: 0;
  right: 0;
}

.cardTitle {
  display: inline;
  opacity: 0.9;
  font-size: 18px;
  font-weight: lighter;
  margin: 0px;
}

.card:hover .cardTitle{
  opacity: 1;
}

.cardText {
  opacity: 0.9;
  font-size: 15px;
  margin: 8px 0px 0px 0px;
}

.card:hover .cardText {
  opacity: 1;
}

.cardIcon {
  padding: 12px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.cardRepoFooterFirstLine {
  margin-bottom: 12px;
}

.cardStarsBox {
  display: inline;
  position: absolute;
  right: 0;
}

.starsBox {
  border: 1px solid rgba(255, 255, 255, .7);
  border-radius: 2px;
  margin-right: 12px;
}

.starsBox img {
  padding-left: 5px;
  padding-right: 5px;
}

.starsBox p {
  display: inline;
  border-left: 1px solid rgba(255, 255, 255, .7);
  font-size: 14px;
  padding: 2px 5px 2px 5px;
}

.content {
  width: 900px; /* Default for a 3 column grid of 300px blocks */
  margin: 0 auto;
  padding-top: 20px;
}

/* Two column grid of 300px blocks when screen smaller than 900px */
@media screen and (min-width: 600px) and (max-width: 899px) {
   .content {
        width:600px;
    }
}

/* One column grid of 300px blocks when screen smaller than 600px */
@media screen and (max-width: 599px) {
    .content {
        width:300px;
    }
}

.contentTitle {
  font-family: 'Merriweather', 'Roboto', sans-serif;
  opacity: 0.8;
  font-weight: lighter;
  color: #4A4A4A;
  font-size: 20px;
  margin: 18px;
}

.articleTitle {
  margin-right: 20px;
}

.sectionContainer {
  margin-bottom: 40px;
}

.footer {
  padding: 60px 20px 60px 20px;
  text-align: center;
  background-color: #4A4A4A;
  color: white;
}

.footer a {
  color: white;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, .7);;
}

.footer a:hover {
  border-bottom: 1px solid rgba(255, 255, 255, 1);;
}

.footer p {
  opacity: 0.75;
  font-size: 16px;
}

.footerCopyRight {
  margin-top: 40px;
}
